<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <activity
            android:name=".setPinCode"
            android:exported="false" />
        <activity
            android:name=".SmartHome_Main"
            android:exported="false"
            android:theme="@style/getStartedTheme" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:theme="@style/login_sigup_theme" />
        <activity
            android:name=".Signin"
            android:exported="false"
            android:theme="@style/login_sigup_theme" />
        <activity
            android:name=".Login_signup"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/login_sigup_theme" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/getStartedTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinChange"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>